{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show messages" id="show-message" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}

<h2>App-0ne</h2>
<img src="{% static 'app_one/img/img-1.jpeg' %}" alt="img-1">
<i class="fa fa-car" style="font-size:60px;color:red;"></i>

<script src="{% static 'app_one/js/app.js' %}"></script>
{% endblock  %}